body{
    background-color: yellowgreen;
}
h1{
    font-weight:bold;
    color: black;
    background-image: linear-gradient(rgb(238, 255, 0), rgb(0, 213, 255));
    align-items: center;
    width: max-content;
    font-size: 50px;
}
h2{
    font-weight:bold;
    color: black;
    background-image: linear-gradient(red, orange);
    align-items: center;
    width: max-content;
    font-size: 50px;
}
strong{
    font-weight: bold;
    font-size: 100;
}
h3{
    font-size: x-large;
    font-weight: bold;
}
form{
    font-weight: bold;
    background-color: rgb(213, 240, 140);
    font-size: large;
    width: max-content;

}
label{
        font-size: x-large;
        font-weight: bold;
    }
    input{
        color: black;
        font-weight: bold;
        font-size: large;
    }